form {
    width: 70%;
    margin: 10% auto;
}

label, input {

}

label {
    width: 100%;
    text-align: center;
}

input + input {
    float: center;
}

.loading {
	text-align: center;
}

.cbusqueda {
	display: block;
}

.mostrar {
	display: none;
}

canvas{
	background-size: contain;
}

.datos--usuario{ 
	list-style-type: none;
	margin-top: 2em;
	padding: 0;
	text-align: justify;
	box-shadow: 5px 5px 0 #AAA;
}

.lista_repos li{
	list-style-type: none;
	margin-top: 2em;
	padding: 0;
	box-shadow: 5px 5px 0 #AAA;	
}
