form {
    width: 50%;
    margin: 10% auto;
}

label, input {

}

label {
    width: 100%;
    text-align: center;
}

input + input {
    float: center;
}

.loading {
	text-align: center;
}

.cbusqueda {
	display: block;
}

.mostrar {
	display: none;
}


