form {
    width: 50%;
    margin: 0 auto;
}

label, input {

}

label {
    width: 70%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 50% 0 4%;
}

input + input {
    float: center;
}