<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Busqueda GItHub API</title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
		<script src="js/firebase_conexion.js"></script>
		
	</head>
	<body ng-controller="MainCtrl as vm">
		<form>
		<div>
			<div class="input-group cbusqueda">
				<input type="text" ng-model="user.name" class="form-control" placeholder="Usuario de GitHub" name="enter" required>
				<span class="input-group-btn">
				<button ng-click="vm.fetchData(user)" class="btn btn-primary" id="boton_gitHub">Busca!</button>
				</span>
			</div>
		</div>	
		<div class="center-block">
			<label for="enter" id="ocultar" class="dlabel"> Busqueda de perfiles en GitHub </label>
				<h4 ng-if="vm.loading === true" class="loading">loading...</h4>
			<table class="table table-hover mostrar" id="mostrar">
			    <thead>
			      <tr>
			        <th>Perfil de Usuario</th>
			        <th>Repositorio</th>
			        <th>Notas</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td class="perfil--usuario" id="columna1">
			        	<h3></h3>
			        	<canvas id="usuario--imagen"></canvas>
			        	<div class="datos">
			        		<ul class="datos--usuario">
			        			<li id="usuario__nombre">Nombre:  </li>
			        			<li id="usuario__cuenta">Cuenta:</li>
			        			<li id="usuario__email">Email: </li>
			        			<li id="usuario__ubicacion">Ubicacion: </li>
			        		</ul>
			        	</div>
			        </td>
			        <div>
			        <td class="repositorios" id="columna2">
			        	<ul class="list-group" id="lista_repos">
			        		
			        	</ul>
			        </td>
			        <td> 
			        	<div class="input-group">
							<input type="text" class="form-control" placeholder="Escribe aqui un comentario" name="enter" id="caja_comentario" required>
							<span class="input-group-btn">
							<button class="btn btn-primary" id="boton_firebase">Publica</button>
							</span>
						</div>
						<div>
								<h4 id="publicar"></h4>
						</div>
			        </td>
			      </tr>
			    </tbody>
			  </table>
		</div>
		<script type="text/javascript" src="js/conexion_github.js"></script>
		<script type="text/javascript" src="js/funciones.js"></script>
	</body>
</html>